.ReportQuestion {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.ReportQuestion__Header__Modal {
  width: 480px;
}
.ReportQuestion h1 {
  margin-left: 10px;
  font-size: 12px;
  color: #6c8d9e;
}
.ReportQuestion img {
  width: 20px;
  height: 20px;
}
.ReportQuestion__Header {
  display: flex;
  justify-content: space-between;
}
.ReportQuestion__Header img {
  cursor: pointer;
}

.ReportQuestion__Header p {
  font-weight: bold;
  font-size: 16px;
}
.ReportQuestion__divider {
  border: 1px solid #e5e5e5;
  height: 0px;
  background-color: #e5e5e5;
}

.ReportQuestion__Options > p {
  font-weight: bold;
  font-size: 14px;
}
.ReportQuestion__Options__Box {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 45% 45%;
  grid-column-gap: 10px; */
}
.ReportQuestion__Options__Box p {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 3px;
  margin-right: 25px;
  border: 1px solid #727d8366;
  color: #4e565a;
  font-size: 14px;
  cursor: pointer;
}
.ReportQuestion__Description p {
  font-weight: bold;
  font-size: 14px;
}

.ReportQuestion__Options__Box__selected {
  color: #4285f4 !important;
  background: #1e90ff33 20% !important;
  border: 1px solid #4285f4 !important;
}

.ReportQuestion__Description textarea {
  border: 1px solid #f1f1f1;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 4px;
  outline: none;
  padding: 5px;
}

.ReportQuestion__ThankYou {
  text-align: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ReportQuestion__ThankYou p {
  width: 60%;

  margin: 10px auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 26.56px;
}
.ReportQuestionHeader__Submit {
  margin-top: 20px;
  text-align: center;
}
.ReportQuestionHeader__Submit button {
  width: 60%;
  border: none;
  border-radius: 8px;
  background: linear-gradient(239.11deg, #1e90ff -4.11%, #2b75cd 88.83%);
  box-shadow: 0px 12px 16px -10px rgba(30, 144, 255, 0.6);
  color: white;
  height: 56px;
}
.submitDisabled {
  background: #d8dee2 !important;
  box-shadow: none !important;
}
