.Dashboard {
  /* border: 1px solid blue; */
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: white;
  height: 100vh;
  background: #f6f8fb;

  /* min-height: 100vh; */
}
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (max-width: 992px) {
  .Dashboard {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
  }
} */
