.completed__Outer {
  background-color: #f6f8fb;
  height: 100vh;
  position: relative;
}
.completed__Parent {
  background-color: white;
  text-align: center;
  width: 60%;
  margin: 0 auto 0 auto;
  height: 80%;
  border: 0.1px solid white;
  display: flex;
  flex-direction: column;
  height: 90%;
}
.completed__Parent > * {
}

.completed__Star {
  margin-top: 50px;
}
.completed__Message {
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}
.completed__Button {
  width: 255px;
  height: 56px;
  background: linear-gradient(239.11deg, #1e90ff -4.11%, #2b75cd 88.83%);
  border-radius: 8px;
  color: white;
  font-size: 16px;
  outline: none;
  border: none;
  margin-top: 20px;
}
.completed__Vector {
  margin-top: auto;
}

.bookmarkNavbar {
  height: 10%;
  background: #2b75cd;
  /* margin-bottom: -85px; */
  display: flex;
  justify-content: space-between;
  padding: 0 60px 0px 60px;
}
.bookmarkNavbar > div {
  display: flex;
  color: white;
  align-items: center;
  /* margin-left: 15%; */
  cursor: pointer;
  padding-top: 15px;
}
.bookmarkNavbar > div > p {
  margin-left: 10px;
}
.boomarkNavbarLogo img {
  height: 40px;
  width: 40px;
}
