.Practice {
  padding: 60px 30px 60px 30px;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  grid-row-gap: 50px;
  overflow-y: scroll;
}
.modalContent {
  font-weight: bold;
  font-size: 16px;
  /* line-height: 10px; */
  /* padding: 0 30px 0 30px; */
  width: 350px;
  text-align: center;
}
.modalContent span {
  color: #1e90ff;
}
.Cards__lastChild {
  margin-top: 20px;
}
.modalContent__buttons {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
  align-content: center;
  grid-gap: 20px;
  padding: 5px;
  margin-top: 30px;
}
.modalContent__buttons button {
  background: none;
  border: 2px solid #1e90ff;
  border-radius: 5px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  color: #1e90ff;
  cursor: pointer;
}
.modalContent__buttons button:last-of-type {
  background-color: #1e90ff;
  color: white;
}

.startQuiz {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
}
.startQuiz h3 {
  color: #1e90ff;
  font-size: 20px;
}
