* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  background-color: white;
}
