.detail-section__question {
  margin: 0;
  padding: 0;
  width: 381px;
  min-height: 57px;
  font-size: 16px;
  line-height: 148%;
  color: #333434;
  margin: 32px 32px 16px;
  overflow-x: hidden;
  display: flex;
}
.detail-section__question > span {
  display: block;
  margin-top: 16px;
  padding-right: 4px;
  padding-top: 2px;
}
.detail-section__question ::-webkit-scrollbar {
  height: 2px;
  width: 5px;
}
.detail-section__question ::-webkit-scrollbar-track {
  background-color: #fff;
}
.detail-section__question ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #e8ebed;
}
::-webkit-scrollbar-track-piece .detail-section__style {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}
.detail-section__youranswer {
  margin: 0;
  padding: 0;
  width: 381px;
  min-height: 76px;
  background: rgba(159, 159, 159, 0.06);
  border: 1.5px solid rgba(159, 159, 159, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 32px 16px;
  padding: 13px 15.04px 13px 18.38px;
}
.correct-answer__report {
  margin: 0;
  padding: 0;
  width: 381px;
  min-height: 76px;
  background: rgba(167, 233, 175, 0.12);
  border: 1.5px solid #a7e9af;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 13px 15.04px 13px 18.38px;
  margin: 0 32px 16px;
}
.detailed-report__h4 {
  margin: 0;
  padding: 0;
  width: 416px;
  height: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 170%;
  color: #333434;
  margin: 0 32px 2px;
}
.detailed-report__explain {
  margin: 0;
  padding: 0;
  width: 397px;
  min-height: 48px;
  font-size: 14px;
  line-height: 170%;
  color: #333434;
  margin: 0 32px 16px;
}
.detail-section__source {
  margin: 0;
  padding: 0;
  width: 167px;
  height: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.3px;
  color: #9f9f9f;
  margin: 0 32px 16px;
}
.detail-section__highlighter {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 170%;
  line-height: 170%;
  color: #333434;
}
.detail-section_myans {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 170%;
  color: #333434;
}
.detail-section__reportquestion {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 170%;
  letter-spacing: 0.2px;
  color: #6c8d9e;
  display: inline-block;
  margin-left: 13.5px;
  cursor: pointer;
}
.detail-section__reportquestion:hover {
  text-decoration: underline;
  text-decoration-color: #6c8d9e;
}
.detail-section__reportsvgbox {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0 0 34px 32px;
}
.detail-section__hr {
  border: 1.5px solid #e5e5e5;
  background-color: #e5e5e5;
  margin: 0;
}
