.Sidebar {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navContainer {
  margin-top: 80px;
}
.navContainer ul {
  padding: 0px;
}

.navContainer ul li {
  display: grid;
  grid-template-columns: 25% 75%;
  /* border: 1px solid red; */
  padding: 0px 20px;
  align-items: center;
  cursor: pointer;
}
.navContainer ul li h4 {
  font-size: 20px;
  color: #9f9f9f;
}
.navContainer ul li:hover {
  background-color: #edf5ff;
  border-left: 4px solid #1e90ff;
}
.navContainer ul li:hover h4 {
  color: #1e90ff;
}
.navContainer ul li img {
  width: 50%;
  cursor: pointer;
}
.logoContainer {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}
.logoContainer img {
  width: 120px;
}

.navContainer > ul > li:last-child {
  margin-top: 150px;
}
.navContainer > ul > li:last-child h4 {
  color: #333434;
}
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (max-width: 992px) {
  .Sidebar {
    display: none;
  }
} */

.Sidebar__profileMenu {
  padding-left: 30px !important;
}
.selected__list_item {
  /* background-color: #edf5ff; */
  /* border-left: 4px solid #1e90ff; */
}
.selected {
  color: #1e90ff !important;
}
.svg__selected {
  filter: invert(35%) sepia(94%) saturate(963%) hue-rotate(186deg)
    brightness(110%) contrast(101%);
}
