.Sidebar {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navContainer {
  margin-top: 80px;
}
.navContainer ul li {
  display: grid;
  grid-template-columns: 25% 75%;
  /* border: 1px solid red; */
  padding: 20px;
  align-items: center;
}
.navContainer ul li h4 {
  font-size: 24px;
  color: #9f9f9f;
}
.navContainer ul li:first-child {
  background-color: #edf5ff;
  border-left: 4px solid #1e90ff;
}
.navContainer ul li:first-child h4 {
  color: #1e90ff;
}
.navContainer ul li img {
  width: 40px;
}
.logoContainer {
  text-align: center;
  margin-top: 20px;
}
.logoContainer img {
  width: 120px;
}
