.CreateNewPassword {
  text-align: center;
}
.CreateNewPassword > p:first-child {
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  width: 80%;
  max-width: 220px;
  text-align: center;
  margin: 50px auto;
}
.CreateNewPassword > input {
  margin-bottom: 15px;
  outline: none;
  border: none;
  height: 48px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #ced1d4;
  width: 80%;
}
.CreateNewPassword > button {
  margin: 15px auto;
  background: none;
  border: none;
  outline: none;
  color: white;
  height: 50px;
  width: 60%;
  border-radius: 8px;
  font-size: 14px;
  background: linear-gradient(239.11deg, #1e90ff -4.11%, #2b75cd 88.83%);
}
