.ForgotPassword {
  padding: 40px;
  text-align: center;
}
.ForgotPassword > p:first-child {
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  width: 80%;
  text-align: center;
  margin: 50px auto;
}

.ForgotPassword > button {
  margin: 15px auto;
  background: none;
  border: none;
  outline: none;
  color: white;
  height: 50px;
  width: 80%;
  border-radius: 8px;
  font-size: 14px;
  background: linear-gradient(239.11deg, #1e90ff -4.11%, #2b75cd 88.83%);
}
