.OTPScreen {
  padding: 40px;
  text-align: center;
}
.OTPScreen > p:first-child {
  text-align: center;
  line-height: 24px;
}
.OTPScreen > p:first-child span {
  font-weight: bold;
}
.OTPScreen__Boxes {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-items: center;
  margin-top: 50px;
}
.OTPScreen__Boxes > input {
  width: 48px;
  height: 48px;
  border: 1px solid #ced1d4;
  border-radius: 4px;
  outline: none;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.OTPScreen > button {
  margin: 15px auto;
  background: none;
  border: none;
  outline: none;
  color: white;
  height: 50px;
  width: 80%;
  border-radius: 8px;
  font-size: 14px;
  background: linear-gradient(239.11deg, #1e90ff -4.11%, #2b75cd 88.83%);
}
.OTPScreen > p:last-child {
  color: #2b75cd;
  font-weight: bold;
}
.OTPScreen__buttonDisabled {
  background: #d8dee2 !important;
}
